body {
    background-color: #666666;
}

div {
    background-color: white;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    border: black solid 1px;
    box-shadow: 0px 0px 10px;
}

h1 {
    color: #000066;
    font-weight: normal;
}

h2 {
    color: #0080C0;
    font-weight: normal;
}

p {
    font-size: 11pt;
    text-align: justify;
    text-indent: 50px;
    line-height: 16pt;
}

address {
    font-size: 10pt;
    text-align: center;
    font-style: normal;
}