* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  body{
    background-color: #00bac6;
  }

a {
    text-decoration: none;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00bac6;
}

  .container {
      display: flex;
      margin: 100px auto;
      max-width: 1200px;
      justify-content: space-between;
  }

  .pedido {
      text-align: center;
  }

  .pedido a:hover {
      color: white;
  }

  .reparo {
    text-align: center;
}

.reparo a:hover {
    color: white;
}

.atendimento {
    text-align: center;
}

.atendimento a:hover {
    color: white;
}

.containerbotao {
    text-align: center;
}

.containerbotao a {
    padding: 10px;
    border-radius: 10rem;
    border: solid 2px white;
    font-size: 40px;
    font-weight:700;
    color: white;
    

  }
  
  .containerbotao a:hover {
    background-color: white;
    color: #00bac6;
  }