* {
  margin: 0;
  padding: 0;
  outline: none;
}

.menu-principal {
  background-color: #252323;
  width: 100%;
  padding: 5px 0;
}
.container1 {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes-sociais {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.guias {
  background-color: white;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 3px solid #8b8b8b;
}

nav a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 15px;
}

#inicio {
  color: #00bac6;
}

nav a:hover {
  color: #00bac6;
  padding-bottom: 23px;
  border-bottom: 2px solid #00bac6;
}

.busca input {
  padding: 10px 40px;
  text-align: center;
  background-image: url("../img/icone-search.png");
  background-repeat: no-repeat;
  background-position: 95%;
  border: 1px solid #d6d6d6;
}

/* Perfis aluguel */

article {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1200px;
  text-align: center;

}

article h1 {
  color: #818181;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

strong {
  color: #646464;
}
article p {
  padding: 1rem 0;
  color: #9a9a9a;
  font-size: 20px;
}

.containercolunas {
  padding-bottom: 5rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #9a9a9a;
  font-size: 20px;
}

.containercolunas h1 {
  padding: 1rem 0;
  color: #818181;
}

.coluna {
  max-width: 360px;
  text-align: center;
}

.coluna2 {
  margin-top: 7rem;
  max-width: 360px;
  text-align: center;
}

/* Parte de backup em nuuvem */

.section2 {
  background-color: #eeeeee;
}

.containerbotao {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.containerbotao p {
  height: 80px;
  width: 250px;
  border-radius: 7rem;
  border: solid 2px #818181;
  font-size: 40px;
  font-weight:700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
}

.containerbotao p:hover {
  background-color: #00bac6;
  color: white;
  border: solid 2px #00bac6;
}

/* Parte de reparo */

.section3 {
  background-image: url("../img/reparos.png");
  background-attachment: fixed;
}

.reparo {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1200px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.reparo h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.reparo p {
  padding: 1rem 0;
  color: white;
  font-size: 20px;
}

/* Parte avaliacao */



.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}
.agile__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.agile__nav-button--prev {
  left: 0;
}
.agile__nav-button--next {
  right: 0;
}
.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 600px;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 97%;
    margin-top: 0;
  }
}