* {
  margin: 0;
  padding: 0;
  outline: none;
}

.menu-principal {
  background-color: #252323;
  width: 100%;
  padding: 5px 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes-sociais {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.guias {
  background-color: white;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 3px solid #8b8b8b;
}

nav a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 15px;
}

nav a:hover {
  color: #00bac6;
  padding-bottom: 23px;
  border-bottom: 2px solid #00bac6;
}

.busca input {
  padding: 10px 40px;
  text-align: center;
  background-image: url("../img/icone-search.png");
  background-repeat: no-repeat;
  background-position: 95%;
  border: 1px solid #d6d6d6;
}

main {
  width: 100%;
}

.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-color: transparent;
  background: url("../img/anterior.png");
  z-index: 9;
  top: 35%;
  left: 14%;
  position: absolute;
}

.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-color: transparent;
  background: url("../img/proximo.png");
  z-index: 9;
  top: 35%;
  right: 14%;
  position: absolute;
}

.slick-dots li button {
  font-size: 0px;
  border: 5px solid white;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
}

.slick-dots {
  position: absolute;
  left: 46%;
  bottom: 5%;
}

li.slick-active button {
  background-color: #00bac6;
}

.slick-dots li {
  display: inline-block;
  padding-left: 10px;
}

.section1 {
  margin: 2rem auto;
  max-width: 1200px;
  text-align: center;
}

.section1 h1 {
  color: #818181;
  font-size: 30px;
  text-transform: uppercase;
}

strong {
  color: #646464;
}
.section1 p {
  padding: 1rem 0;
  color: #9a9a9a;
  font-size: 20px;
}

.containercolunas {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #9a9a9a;
  font-size: 20px;
}

.containercolunas h1 {
  padding: 1rem 0;
  color: #818181;
}

.coluna {
  max-width: 360px;
  text-align: center;
}

.coluna2 {
  margin-top: 7rem;
  max-width: 360px;
  text-align: center;
}
